.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: #000000;
    color: white;
    text-decoration: none;
    flex-wrap: wrap;
    min-width: 60px;
}

.navbar-link{
    background-color: rgb(156, 158, 158);
    padding: 3px 4px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.2s;
}

.navbar-link:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transform: scale(1.1);
    font-weight: bold;
}


.table-bicilcetas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    
}